body {
    background-image: url("Assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    height: 90%;
    padding: 2px;
    border: 0px;
    margin: auto;
}

li {
    width: auto;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: block;   
    text-align: justify;
    font-size: 30px;
    line-height: 45px;
}

a, a:visited, a:hover, a:active {
    color: white;
    display: block;
    text-decoration: none;
  }

.navbar {
    height: 48px;
    width: 100%;
    color: white;
    background-color: #333333;
    border-radius: 10px;
    font-family: "Copperplate", fantasy;
}

.centerNavbarElements {
    height: 100%;
    width: 40%;
    margin: auto;
}

.center {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.main {
    height: 90%;
    width: 100%
}

.grid {
    width: 302px;
    height: 602px;
    position: relative;
    border: 3px solid black;

    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(20, 30px);
}

.queue {
    width: 180px;
    height: 430px;

    text-align: center;
    padding: 5px;
    border: 3px solid black;
    border-radius: 20px;
    position: relative;

    background-image: url("Assets/queue/queue.png");
    background-position: center;
}

.held {
    color: lightgrey;
    text-align: center;
    font-size: 50px;
    padding: 5px;
    border: 3px solid black;
    border-radius: 20px;

    background-image: url("Assets/queue/held.png");
    width: 180px;
    height: 202px;
    background-position: center;
}

.small-box {
    color: lightgrey;
    text-align: center;
    font-size: 50px;
    padding: 1.5px;
    border: 3px solid black;
    border-radius: 30px;

    width: 180px;
    height: 80px;
    background-position: center;
}

.score-text {
    font-size: 22px;
    margin-top: 44px;
    font-family: "Copperplate", fantasy;
}

.restart-button {
    width: 218px;
    height: 68px;
    position: absolute;
    z-index: 10;

    top: 319px;
    left: 42px;

    padding: 0px;
    margin: 0px;
    border: 0px;

    box-shadow: 5px 5px;
}

.overlay {
    position: absolute;
    background-image: url("Assets/tetris-grid-overlay.png");
    height: 602px;
    width: 302px;

    padding: 0px;
    margin: 0px;
    
}

.pieceIcon {
    position: absolute;
    z-index: 10;
    width: 150px;
    height: 100px;
}