body {
    background-image: url("Assets/background.jpg");
}

ul {
    height: 100%;
    margin: 0px;
}

li {
    display: block;   
    text-align: justify;
    font-size: larger;
    line-height: 45px;
}

a, a:visited, a:hover, a:active {
    color: white;
    display: block;
    text-decoration: none;
  }

.navbar {
    height: 48px;
    width: 100%;
    color: white;
    background-color: #333333;
    font-family: "Copperplate", fantasy;
}

.centerNavbarElements {
    height: 100%;
    width: 50%;
    margin: auto;
}

.center {
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.main {
    height: 90%;
    width: 100%
}

.grid {
    width: 302px;
    height: 602px;
    position: relative;

    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(20, 30px);
}

.queue {
    color: lightgrey;
    text-align: center;
    padding: 5px;
    border: 1px solid lightgrey;
    z-index: 9;
    background-image: url("Assets/queue/queue.png");
    width: 180px;
    height: 430px;
    background-position: center;
    position: relative;
}

.held {
    color: lightgrey;
    text-align: center;
    font-size: 50px;
    padding: 5px;
    border: 1px solid lightgrey;

    background-image: url("Assets/queue/held.png");
    width: 180px;
    height: 202px;
    background-position: center;
}

.restart-button {
    width: 218px;
    height: 68px;
    position: absolute;
    z-index: 10;
    padding: 0px;
    margin: 0px;
    border: 0px;
    top: 319px;
    left: 42px;
}

.overlay {
    z-index: 9;
    position: absolute;
    background-image: url("Assets/tetris-grid-overlay.png");
    height: 602px;
    width: 302px;
}

.pieceIcon {
    position: absolute;
    z-index: 10;
    width: 150px;
    height: 100px;
}